@import 'reset.css';

.best-sell-products__title {
  font-size: 24px;
  padding: 77px 0 50px;
}
.new-products__title {
  font-size: 24px;
  padding: 77px 0 50px;
}
.product {
  width: 280px;
  position: relative;
  height: 450px;
}
.image-wrapper {
  max-width: 271px;
  position: relative;
  height: 215px;
}
.product__main-img {
  width: 100%;
  object-fit: contain;
  max-height: 215px;
}
.product__title {
  font-size: 16px;
  margin-top: 59px;
  color: #1a77d2;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.56;
}
.product__description {
  font-size: 16px;
  line-height: 1.56;
}
.price_btn {
  font-size: 13px;
  padding: 10px 38px 10px 39px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.product__like {
  position: absolute;
  right: 0;
  bottom: 228px;
}
.price__amount {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
.price__sign {
  font-size: 13px;
  color: #333333;
  line-height: 1.54;
  opacity: 0.5;
}
.price__availability {
  font-size: 13px;
  color: #43a047;
  white-space: nowrap;
}
.price__details {
  display: flex;
  flex-direction: column;
}
.buy-btn {
  height: 40px;
  margin-left: 66px;
  color: #ffffff;
  background-color: #1a77d2;
  padding: 10px 38px 10px 38px;
  font-size: 13px;
  box-sizing: border-box;
  border-radius: 2px;
}
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

/* Custom slider */
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  column-gap: 45px;
}
.slick-slide {
  display: flex;
  flex-direction: column;
  outline: none;
}

/* Best slider */
.best-prod-wrapper {
  position: relative;
}
.best-prod-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.best-prod-wrapper .slick-arrow.slick-prev {
  display: none !important;
}
.best-prod-wrapper .slick-arrow.slick-next {
  right: -10px;
  background: url("../img/next-btn.png") 0 0 / 100% no-repeat;
  width: 58px;
  height: 58px;
  border: none;
  cursor: pointer;
  outline: none;
}

/* New slider */
.new-prod-wrapper {
  position: relative;
}
.new-prod-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.new-prod-wrapper .slick-arrow.slick-prev {
  display: none !important;
}
.new-prod-wrapper .slick-arrow.slick-next {
  right: -10px;
  background: url("../img/next-btn.png") 0 0 / 100% no-repeat;
  width: 58px;
  height: 58px;
  border: none;
  cursor: pointer;
  outline: none;
}

.new-products {
  margin-bottom: 138px;
}

@media (max-width: 375px) {
  .price-container {
    flex-direction: column;
  }
  .best-sell-products__title {
    padding-bottom: 38px;
    padding-top: 30px;
    font-size: 22px;
  }
  .new-products__title {
    padding: 55px 0 50px;
  }
  .buy-btn {
    margin-left: initial;
    margin-top: 22px;
    text-align: center;
    width: 220px;
  }
  .product__like {
    right: 25%;
  }
}
